{% extends 'base.html' %}
{% load poll_extras %}

{% block content %}
<h1>Dashboard</h1>

{% if user.is_authenticated %}
   Welcome, {{ user.first_name }} {{ user.last_name }} 
{% endif %}

{% if user.userprofile.team == "Accounting" %}
    only {{ user.userprofile.team }} can see this
{% endif %}

{% if user.userprofile.team == "Sales Managers" %}
    only {{ user.userprofile.team }} can see this
{% endif %}

{% if user.userprofile.team == "Sales Reps" %}
    only {{ user.userprofile.team }} can see this
{% endif %}

{% if user.userprofile.team == "Admin Staff" %}
    only {{ user.userprofile.team }} can see this
{% endif %}

{% endblock %}
