{% extends 'base.html' %}

{% block content %}

{% if user.userprofile.team == "Accounting" %}

<div class="container">
    <div class="row">
            <!-- Row 1 -->
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectSix">
                    {% include 'partials/_viewquotescard.html' %}
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectThree">
                    {% include 'partials/_salesorderscard.html' %}
                </a>
            </div>
            <div class="col-md-4">
                 <a href="#" data-toggle="modal" data-target="#projectFour" >
                    {% include 'partials/_purchaseorderscard.html' %}
                </a>
            </div>
            <!-- Row 2 -->
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectTwo">
                    {% include 'partials/_invoicecard.html' %}
                </a>                
            </div>
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectFive">
                    {% include 'partials/_payablescard.html' %}
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectOne" >
                    {% include 'partials/_journalentriescard.html' %}
                </a>
            </div>
            <!-- Row 3 -->
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectTwo">
                    {% include 'partials/_bankingcard.html' %}
                </a>                
            </div>
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectFive">
                    {% include 'partials/_itemreceipts.html' %}
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#projectOne" >
                    {% include 'partials/_items.html' %}
                </a>
            </div>
        </div>    
    </div>
</div>
      
    
{% endif %}

{% if user.userprofile.team == "Sales Managers" %}
    {% include 'partials/_viewproposalscard.html' %}
    {% include 'partials/_customerCard.html' %}
{% endif %}

{% if user.userprofile.team == "Sales Reps" %}
    {% include 'partials/_customerCard.html' %}
    {% include 'partials/_proposalcard.html' %}
    {% include 'partials/_manageorders.html' %}
{% endif %}

{% if user.userprofile.team == "Admin Staff" %}
    {% include 'partials/_viewquotescard.html' %}
    {% include 'partials/_salesorderscard.html' %}
    {% include 'partials/_purchaseorderscard.html' %}
    {% include 'partials/_invoicecard.html' %}
    {% include 'partials/_itemreceipts.html' %}
    {% include 'partials/_items.html' %}
{% endif %}

{% if user.userprofile.team == "Executives" %}
    {% include 'partials/_customerCard.html' %}
{% endif %}

{% endblock %}
