<div class="card" style="float: left; width: 18rem; margin: 3vh 1.5vw;">
    <div class="card-body">
        <h5 class="card-title">View Proposals</h5>
        <h6 class="card-subtitle mb-2 text-muted">Click here to view Proposals</h6>
        <p class="card-text">This is where you view Proposals requests created by sales reps. In this module you view Proposals created by your team.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>